/* =====================
   Global
   ===================== */
* {
  font-size: 11px;
  border: none;
  padding:0 2px;
  font-family: "FiraCode Nerd Font";
  min-height: 0;
}


window#waybar {
  background: rgba(0, 0, 0, 0.0);
  font-size: 16px;
}

/* =====================
   Workspaces
   ===================== */

#workspaces {
  background: rgba(0, 0, 0, 0.0);
  font-weight: bold;
  font-size: 14px;
}

#workspaces button {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.0);
  color: #cdd6f4;
  transition: all 0.2s ease;
}

#workspaces button.active {
  color: #22c219;
  font-weight: bold;
}

#workspaces button:hover {
  opacity: 0.2;
}

/* =====================
   Window title
   ===================== */
#window {
  color: #0ddb29;
  font-size: 12px;
  font-weight: bold;
}

/* =====================
   Right modules (shared)
   ===================== */
#network,
#pulseaudio,
#battery,
#tray,
#clock {
  font-weight: bold;
}

#clock {
  font-weight: bold;
  font-size: 9.5px;
  color: #0ce305;
}

/* Hover effect */
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-lock:hover,
#custom-sleep:hover {
  background: rgba(255, 255, 255, 0.18);
}

/* =====================
   Network
   ===================== */
#network{
font-size: 9px;
color: #0ddb29;
}

#network.disconnected {
  color: transparent;
}

/* =====================
   Audio
   ===================== */

#pulseaudio {
  color: #0ddb29;
  font-weight: bold;
  font-size: 9px;
}

#pulseaudio.muted {
  color: #ed1f07;
  font-weight: bold;
  font-size: 9px;
}

#battery {
    background-color: transparent;
    font-size: 9px;
}

#battery.charging {
    color: #b8bb26;
}

#battery:not(.charging) {
  color: #ed1f07;
}

#battery.full{
  color: #0ddb29;
}

/* =====================
   System tray
   ===================== */
#tray {
  
}

#tray > .passive {
  opacity: 0.6;
}

#tray > .needs-attention {
  background: #f38ba8;
}

