/* =====================
   Global
   ===================== */
* {
  font-size: 12px;
  border: none;
  font-family: "FiraCode Nerd Font 10";
  min-height: 0;
}


window#waybar {
  background: rgba(0, 0, 0, 0.0);
  font-size: 12px;
}

/* =====================
   Workspaces
   ===================== */

#workspaces {
  padding: 4px;
  background: rgba(0, 0, 0, 0.0);
  font-weight: bold;
  font-size: 12px;
}

#workspaces button {
  padding: 0px 4px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.0);
  color: #cdd6f4;
  transition: all 0.2s ease;
}

#workspaces button.active {
  color: #22c219;
  font-weight: bold;
}

#workspaces button:hover {
  opacity: 0.2;
}

/* =====================
   Window title
   ===================== */
#window {
  padding: 0 6px;
  color: #0ddb29;
  font-size: 10px;
  font-weight: bold;
}

/* =====================
   Right modules (shared)
   ===================== */
#network,
#pulseaudio,
#battery,
#tray,
#custom-power
#clock {
  padding: 0 6px;
  margin: 0;
  font-weight: bold;
}

#clock {
  color: #e3dc05;
  padding: 0 6px;
  margin: 0;
  font-weight: bold;
  font-size: 10px;
}

/* Hover effect */
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-lock:hover,
#custom-sleep:hover {
  background: rgba(255, 255, 255, 0.18);
}

/* =====================
   Network
   ===================== */

#network {
   font-size: 10px;
}

/* Strong signal */
#network.good {
    color: #0ddb29;   /* green */
}

/* Medium signal */
#network.warning {
    color: #d6be04;   /* yellow */
}

/* Weak signal */
#network.critical {
    color: #e30505;   /* red */
}

/* Ethernet */
#network.ethernet {
    color: #0246b5;   /* blue */
}

#network.disconnected {
  color: transparent;
}

/* =====================
   Audio
   ===================== */

#pulseaudio {
  color: #0ddb29;
  font-weight: bold;
  font-size: 14px;
}

#pulseaudio.muted {
  color: #db0d0d;
  font-weight: bold;
  font-size: 14px;
}

/* =====================
   Custom buttons
   ===================== */
#custom-power {
  color: #eff705;
  font-weight: bold;
  font-size: 10px;
}

#battery {
    background-color: transparent;
    color: #ebdbb2;
    border-radius: 6px;
    font-size: 13px;
}

/* =====================
   System tray
   ===================== */
#tray {
  padding: 0 1px;
}

#tray > .passive {
  opacity: 0.2;
}

#tray > .needs-attention {
  background: #f38ba8;
}

